* {
  font-family: 'Quicksand', sans-serif;
  background-color: #DED9DD;
}

nav {
  padding: 0;
  height: 50px;
  width: 2000px;
  background-color: #639a88;
  position: fixed;
}

li {
  display: inline;
  padding-right: 10px;
}

:link {
  color: #3a3846;
}

:visited {
  color: #3a3846;
}

section {
  margin: 0;
  padding-top: 30px;
  color: #3a3846;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  float:inline-end;
  padding-top: 50px;
}

img {
  max-width: 500px;
  float: left;
}
